# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
CLAUDE.md

.claude/
.claude/*

lib/openzeppelin-contracts
AGENTS.md
AGENTS copy.md

logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
